body{
    background-color: rgb(30, 31, 31);
}

header {
    background-color: black;
    position: fixed; /* Sayfa kaydırıldığında sabit durmasını sağlar */
    top: 0; /* Sayfanın üst kısmına yaslanır */
    left: 0; /* Sayfanın sol kısmına yaslanır */
    width: 100%; /* Tam genişlik alır */
    height: 80px; /* Yükseklik belirler */
    display: flex; /* İçeriği yatay hizalar */
    align-items: center; /* İçeriği dikey eksende ortalar */
    justify-content: space-between; /* Öğeler arasında boşluk bırakır */
    padding: 0 100px; /* Sol ve sağ kenar boşluğunu belirler */
}

/* Logo stil ayarları */
.logo {
    font-size: 24px; /* Yazı tipi boyutu */
    color: #fff; /* Metin rengi */
    font-weight: bold; /* Metnin kalınlığını belirler */
    user-select: none; /* Kullanıcı seçimini engeller */
}

/* Navigasyon menüsü stil ayarları */
.nav-bar ul {
    display: flex; /* Liste öğelerini yatay hizalar */
    margin-left: 750px;
}

.nav-bar ul li a {
    position: relative; /* Göreceli konumlandırma sağlar */
    border-radius: 10px; /* Kenar yuvarlanmasını sağlar */
    display: block; /* Blok öğe olarak görüntüler */
    font-size: 1.2rem; /* Yazı tipi boyutu */
    color: #fff; /* Metin rengi */
    text-decoration: none; /* Metin bağlantılarının alt çizgisini kaldırır */
    font-weight: 500; /* Metnin kalınlığını belirler */
    margin-left: 20px; /* Sol kenar boşluğunu belirler */
    padding: 0.5em; /* Dolgu miktarını belirler */
    transition: 0.2s; /* Geçiş efekti süresini belirler */
}

.nav-bar ul li a::after {
    content: ''; /* Ek içerik ekler */
    position: absolute; /* Mutlak konumlandırma sağlar */
    left: 0; /* Sol kenara yaslanır */
    bottom: -6px; /* Alt kenara yakın konumlandırılır */
    width: 100%; /* Tam genişlik alır */
    height: 3px; /* Yükseklik belirler */
    background: #fff; /* Arkaplan rengi */
    border-radius: 5px; /* Kenar yuvarlanmasını sağlar */
    transform-origin: right; /* Dönüşün kaynağını belirler */
    transform: scaleX(0); /* Ölçeklendirme işlemi uygular */
    transition: transform .5s; /* Geçiş efekti süresini belirler */
}

.nav-bar ul li a:hover::after {
    transform: scaleX(1); /* Ölçeklendirme işlemi uygular */
    transform-origin: left; /* Dönüşün kaynağını belirler */
}

/* Giriş butonu stil ayarları */
.nav-bar .btn-login {
    color: #333; /* Metin rengi */
    background: #fff; /* Arkaplan rengi */
}

.nav-bar .btn-login {
    background: #fff; /* Arkaplan rengi */
    color: #162938; /* Metin rengi */
}

.nav-bar .btn-login{
    background-color: black;
    color: white;
    border: 1px solid white;
}


.div1{
    border-radius: 10px;
    width: 650px;
    height: 800px;
    border: 4px solid red;
    color: white;
    text-align: center;
    margin-top: 10px;
    float: left;
}

.div1 img{
    width: 90%;
    height: 70%;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 15px;
    border-radius: 8px;
    border: 3px solid red;
}

.div1 p{
    font-weight: bold;
}

.div1 .katil{
    width: 40%;
    height: 40px;
    background-color: red;
    color: white;
    font-size: medium;
    font-weight: bold;
}

.div1 .masum{
    width: 40%;
    height: 40px;
    background-color: red;
    color: white;
    font-size: medium;
    font-weight: bold;
}


.div2{
    border-radius: 10px;
    width: 650px;
    height: 800px;
    border: 4px solid red;
    color: white;
    text-align: center;
    margin-top: 10px;
    float: right;
}

.div2 img{
    width: 90%;
    height: 70%;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 15px;
    border-radius: 8px;
    border: 3px solid red;
}

.div2 p{
    font-weight: bold;
}

.div2 .katil{
    width: 40%;
    height: 40px;
    background-color: red;
    color: white;
    font-size: medium;
    font-weight: bold;
}

.div2 .masum{
    width: 40%;
    height: 40px;
    background-color: red;
    color: white;
    font-size: medium;
    font-weight: bold;
}



.div3{
    border-radius: 10px;
    width: 650px;
    height: 800px;
    border: 4px solid red;
    color: white;
    text-align: center;
    margin-top: 10px;
    float: left;
}

.div3 img{
    width: 90%;
    height: 70%;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 15px;
    border-radius: 8px;
    border: 3px solid red;
}

.div3 p{
    font-weight: bold;
}

.div3 .katil{
    width: 40%;
    height: 40px;
    background-color: red;
    color: white;
    font-size: medium;
    font-weight: bold;
}

.div3 .masum{
    width: 40%;
    height: 40px;
    background-color: red;
    color: white;
    font-size: medium;
    font-weight: bold;
}



.div4{
    border-radius: 10px;
    width: 650px;
    height: 800px;
    border: 4px solid red;
    color: white;
    text-align: center;
    margin-top: 10px;
    float: right;
}

.div4 img{
    width: 90%;
    height: 70%;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 15px;
    border-radius: 8px;
    border: 3px solid red;
}

.div4 p{
    font-weight: bold;
}

.div4 .katil{
    width: 40%;
    height: 40px;
    background-color: red;
    color: white;
    font-size: medium;
    font-weight: bold;
}

.div4 .masum{
    width: 40%;
    height: 40px;
    background-color: red;
    color: white;
    font-size: medium;
    font-weight: bold;
}
